@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");

html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  background: #8a8a8a;
  font-size: 1.125em;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  padding-bottom: 0.5em;
  text-align: center;
}

button, input {
  font-family: Calibri, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  overflow: visible;
  background-color: #b5b5b5;
  border-color: transparent;
}

fieldset {
  border-color: transparent;
}

@media screen and (min-width: 18.75em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
}
